<!-- CHANGE PASSWORD -->
<form id="change-password">
  <fieldset>
    <div id="password-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Change Password <span class="extra-title muted"></span></h3>
          </div>
          <div class="modal-body form-horizontal">

            <div class="control-group">
              <label for="current_password" class="control-label">Current Password</label>
              <div class="controls">
                <input type="password" name="passwords[old]" required>
              </div>
            </div>
            <div class="control-group">
              <label for="new_password" class="control-label">New Password</label>
              <div class="controls">
                <input type="password" name="passwords[new]" required>
              </div>
            </div>
          </div>
          <div class="alert alert-success pass-success-message">
            <strong>Success!</strong> Your password has been updated.
          </div>
          <div class="alert alert-danger old-password-mismatch-message">
            <strong>Oh no!</strong> Sorry, there was a problem. Please try again.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn cls-pass-modal" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</form>
