<!-- SIGN OUT -->
<div class="demo-card-square mdl-card mdl-shadow--2dp sign-out-card" id="sign-out-jumbotron">
  <form id="sign-out" class="auth-login-form">
    <fieldset>
      <div class="input-group center-block">
        <input type="submit" name="submit" value="See Ya!" class="btn btn-primary btn-md form-control sign-out-button">
      </div>

      <div class="auth-responses" id="sign-out-response">&nbsp;</div>
    </fieldset>
  </form>
</div>
