<!-- SIGN UP FORM -->
<div class="jumbotron" id="sign-up-jumbotron">
  <h1 class="big-headers">Pomodoro Timer</h1>
  <form id="sign-up" class="auth-login-form">
    <fieldset>
      <div class="input-group center-block">
        <input type="text" name="credentials[email]" value="" placeholder="email" id="sign-up-email" class="form-control" required>
        <input type="password" name="credentials[password]" value="" placeholder="password" id="sign-up-password" class="form-control" required>
        <input type="password" name="credentials[password_confirmation]" value="" placeholder="confirm password" id="sign-up-confirm" class="form-control" required>
        <input type="submit" name="submit" value="Sign Up!" class="btn btn-primary btn-md" id="sign-up-button">
      </div>

      <div class="auth-responses" id="sign-up-response">&nbsp;</div>
    </fieldset>
  </form>
</div>
