<div id="timer">
<div><span id="input">25:00</span><div/>
<input type="button" class = "btn" id="start" value="start"/>
<input type="button" class = "btn" id="stop" value="stop"/>
<input type="button" class = "btn" id="reset" value="reset"/>
</div>
