<div id="timer-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3>Pomodoro Timer</h3>
        <p>Focus for 25 minutes. Then, take five - you've earned it.</p>
        <p>During the break, add a pomodoro to your session!</p>
<br>
        <div id="timer-clock">
          <span id="input">25:00</span>
        </div>
      </div>

      <div class="modal-footer">
        <div class="timer-buttons">
          <button type="button" class="btn btn-success" id="start-timer">Start</button>
          <button type="button" class="btn btn-danger" id="stop-timer">Stop</button>
          <button type="button" class="btn btn-primary" id="reset-timer">Reset</button>
        </div>
        <button type="button" class="btn cls-timer-modal" id="cancel-timer" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
      <audio id="alert-audio" src="https://raw.githubusercontent.com/narichasavanorkejoyce/pomodoro-client/master/assets/scripts/audio/bell-ring.wav"></audio>
    </div>
  </div>
</div>
