$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'session-log';
@import 'landing-page';

body {
  // background-image: url('https://source.unsplash.com/user/nsavanorkejoyce/likes/1600x900');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
