.app-title {
  font-family: 'Pacifico', sans-serif;
  font-size: 96px;
  margin: 0 auto;
  text-align: center;
}

.card-title {
  font-family: 'Open Sans', sans-serif;
}

.auth-login-form {
  margin: 0 auto;
}

.form-spacing {
  margin: .5em;
}

.auth-card {
  margin: 0 auto;
}

.lp-card {
  margin: 2em;
  margin-top: 3em;
}
